@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --primary-color: #186fc7;
  --primary-color-dark: #08346c;
  --secondary-color: #d2e8ef;
  --background-color: hsl(195, 97%, 45%, 5%);

  --dark-blue: #08346c;

  --primary-text-color: #243563;
  --secondary-text-color: #707c99;

  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 600;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  font-family: "Poppins", "sans-serif";
  font-weight: 400;
  cursor: default;
}
